<div class="row">
  <div class="icon-bar three-up">
    <a href="#/" class="item">
      <i class="md md-home md-2x"></i>
      <label>BiOrder Home</label>
    </a>
    <a href="#/orders/new" class="item">
      <i class="md md-input md-2x"></i>
      <label>New Order</label>
    </a>
    <a href="#/items" class="item">
      <i class="md md-edit md-2x"></i>
      <label>Edit Items</label>
    </a>
  </div>
</div>
