
<div class="row">
  <h2 id='title'>BiOrder</h2>

  <div class="small-1 columns">
    <ul class="side-nav">
      <li>
        <a href="#/">order</a>
      </li>
      <li>
        <a href="#/items">Items</a>
      </li>
    </ul>
  </div>

  <div class="small-10 columns">
    {{outlet}}
  </div>
</div>
