<h3>Your list of items:</h3>

<div class="container-fluid">
  <div class="row">
    {{#each item in model}}
      <label>{{item.name}}</label>
      <label>{{item.measuredIn}}</label>
      <button {{action 'deleteItem' item bubbles=false}} class="btn btn-xs" type="button">x</button>
    {{/each}}
  </div>
</div>

{{#link-to 'items.new'}}Create new item{{/link-to}}
