<h3>Your list of items:</h3>

<ul class="media-list">
  {{#each item in model}}
    <li>
      <label>{{item.name}}</label>
      <button {{action 'deleteItem' this bubbles=false}} class="btn btn-xs" type="button">x</button>
    </li>
  {{/each}}
</ul>

{{#link-to 'items.new'}}Create new item{{/link-to}}
