<h3>Your list of items:</h3>

<ul>
  {{#each item in model}}
    <li>
      <p>
        {{item.name}} - {{item.measuredIn}}
        <a href="#" {{action 'deleteItem' item bubbles=false}} class="button tiny secondary"><i class="md md-delete md-2x"></i></a>
      </p>
    </li>
  {{/each}}
</ul>

{{#link-to 'item.new'}}Create new item{{/link-to}}
